body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 28px;
  height: 100%;
  background: linear-gradient(-20deg, #619dc5 0%, #557471 100%) center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin: 0;
}

.navbar li {
  list-style: none;
  padding: 25px;
}

.link {
  text-decoration: none;
  color: #e0e0e0;
}

.active-link {
  color: #6c19b9;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  color: #6c19b9;
  line-height: 30px;
}

.home-container {
  width: 45%;
  margin: 14vh auto;
}

.quote-container blockquote {
  width: 50%;
  margin: 14vh auto;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 100;
}

.home-container h2 {
  color: #fff;
  font-weight: 400;
}

.home-container p {
  font-weight: 100;
  color: #e0e0e0;
  margin: 20px 0;
}

.result {
  text-align: right;
  padding: 30px 20px;
  background-color: #858694;
  color: #fff;
  font-size: 35px;
}

.quote-author {
  font-size: 20px;
  font-style: italic;
  color: #6c19b9;
}
